body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Roboto', sans-serif;

}
body{
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    min-height: 100vh;
    /*background: #fff;*/

}


/*--------------HOME--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}

.home img{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

.home #text{
    position: absolute;
    font-size: 10vw;
    color: #094b65;
    text-align: center;
    line-height: 0.5em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
}

.home #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

#btn{
    padding: 8px 30px;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sea{
    position: relative;
    padding: 100px;
    background: #094b65;
}

.sea h2{
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #fff;
}

.sea p{
    font-size: 1em;
    color: #fff;
}




/*-------------- END HOME--------------*/



.card-fill {
    display: flex;
    height: 100vh;
    /*border: 1px solid #ddd;  !* Light grey border *!*/
    /*box-shadow: 0px 4px 8px rgba(0,0,0,0.1);  !* Subtle shadow for a lifted effect *!*/
    border-radius: 10px;
}

.left-text {
    flex: 1;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(160deg, #f5f5f5, #e0e0e0); /* Soft grey gradient background */
    color: #333;
    box-shadow: 10px 0px 15px rgba(0,0,0,0.1); /* Shadow to add some depth */
}

.h3-title-left {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.6); !* Text shadow for better readability *!*/
}

.p-text-left {
    font-size: 18px;
    line-height: 1.8;
    /*background-color: rgba(255, 255, 255, 0.2); !* Slightly white transparent bg *!*/
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Text box shadow */
}

.right-image {
    flex: 1;
}

.right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
    transition: transform 0.5s ease-in-out;

}
 .right-image img:hover {
     transform: scale(1.1);
}
.card-fill .right-image {
    overflow: hidden; /* Add this to hide any overflow */
}


/* Additional CSS for animations */
.left-text, .right-image {
    opacity: 0;
    transform: translateY(30px);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.left-text {
    animation-name: slideInText;
}

.right-image {
    animation-name: slideInImage;
}

@keyframes slideInText {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInImage {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this to your CSS */
.left-text.animate, .right-image.animate {
    animation-name: slideInText; /* or slideInImage respectively */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/*--------------------ANIMATION *------------------- */

.card-fill {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card-fill.visible {
    opacity: 1;
    transform: translateY(0);
}

.card-fill .animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card-fill.show-animate .animate {
    opacity: 1;
    transform: translateY(0);
}



