body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    /*color: #fff;*/
    z-index: 1000;
    transition: all .50s ease;
}

header.sticky {

    background: transparent;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    vertical-align: middle;
}

.navbar-menu {
    list-style-type: none;
    margin-right: 520px;
    margin-top: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: darkgrey;
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-buttons button:hover {
    background-color: #fff;
    color: #000;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    margin-left: 254px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-buttons button {
    background-color: transparent;
    color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar-buttons button:hover {
    background-color: darkgrey;
    color: #000;
}

/*ZONE CARROUSSEL VIDEO*/


section{
    padding:  10px 100px 650px;
    position : relative;
    margin-top: 75px;
}

.home{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home:before{
     z-index: 777;
     content: '';
     position: absolute;
     background: rgba(3,96,251,0.3);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     max-height: 70%;
 }

.home .content{
     z-index: 888;
     color: #fff;
     width: 70%;
     margin-top: 50px;
 }

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content p{
    margin-bottom: 65px;
}

.home .content a{
     background: #0a53be;
     padding: 15px 35px;
     color: #fff;
     font-size: 1.1em;
     font-weight: 500;
     text-decoration: none;
     border-radius: 2px;
}

.home .content a:hover{
    background: darkblue;
    color: #fff;
    transform: scale(1.05);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.home video{
      z-index: 000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.slider-navigation{
       z-index: 888;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       transform: translateY(250px);

}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: #0d6efd;
}
.slider-navigation .nav-btn:not(:last-child){
     margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
      transform: scale(1.2);
}



.video-slide{
    position: absolute;
    width: 100%;
    max-height: 70%; /* Maintain the height as 100% */
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/*ZONE ACTU*/

.title-actu{;
    font : 700 45px "Montserrat", sans-serif;
    z-index: 900;
    color: #0371A4;
    position:relative;
    top : -170px;
    margin-left: 65px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.actu-background{
    background-color: #efefef;
    border-radius: 17px;
    width: 1600px;
    height: 1700px;
    position: relative;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
}

section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

section.show-animate .animate{
    filter: blur(0);
    opacity: 1;
}

.actualités .first-actu .animate {
    transform: translateX(-100%);
}

.actualités .text-first-actu .animate {
    transform: translateX(100%);
}

.actualités.show-animate .animate {
    transform: translateX(0);
}

.first-actu img {
    z-index: 1000;
    width: 60%;
    margin-left: 80px;
    margin-top: 80px;
    height: auto;
    border-radius: 17px;
}

.text-first-actu #category{
    background-color: #1B8CC1;
    width: 300px;
    height:70px;
    font : 700 22px "Montserrat", sans-serif;
    color: white;
    text-align: center;
    padding: 25px 0;
    position:relative;
    left:975px;
    margin-top: -150px;
    z-index: 1100;
}

/*ZONE FOOTER*/
.site-footer {
    position: absolute;
    width: 100%;
    background-color: #2b2f32;
    color: #fff;
    padding: 20px 0;
}

.site-footer .col-md-3 {
    margin-bottom: 20px;
}

.site-footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.site-footer .container .row{
    background-color: #2b2f32;
}

.site-footer a {
    color: inherit;
    text-decoration: none;
}



.col-md-3 {
    background-color: #2b2f32;
    color: #fff;
    padding: 20px;
}

/* FORMULAIRE NEWSLETTER */
.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}

.newsletter-form button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
}



/* RÉSEAUX SOCIAUX */
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin-bottom: 10px;
}


.col-md-3 h4 {
    margin-left: 30px;
}

.social-icons a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.social-icons img {
    width: 25px;
    height: auto;
    margin-left: 110px;
}

.les-quatre {
    margin: 30px;
}
/************FOOTER AVEC LES PARTENARIATS ************/

.partner-section {
    background-color: #fff;
    color: #7e7e7e;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.partner-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: -25px;
}

.partner-image {
    width: 10.66%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.partner-image img {
    max-width: 100%;
    height: auto;
}


.copyright-text {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    text-align: left;
}


/************FOOTER AVEC LES PARTENARIATS ************/
@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
}

@media (max-width: 768px) {
    .site-footer .col-md-3 {
        width: 50%;
    }
}





